*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*For small screen laptops and large screen laptops */
@media (min-width:948px) {
	.main-section{
		max-width:100%;
		background-color: #FFE9D0;
	} 
	.Container{
		max-width:100%;
		display:flex;
		
	}
	h1{
		width: 100%;
		font-family: vardana;
		font-size: 400%;
		color: #005C78;
		text-align: center;
		padding: 15px;
		margin-top: 0px;
		background-color: #E88D67;
	}
	
	hr{
	border-width: 2px;
	border-color: #005C78;
	}
	h2{
		font-family: courier;
		font-size: 200%;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	p{
		width:600px;
		text-align: center;
		font-weight: 400;
		font-family: vardana;
		font-size: 18px;
		line-height: 30px;
		color: #005C78;
		margin: auto;
		margin-bottom: 30px;
	}

	.Goals-Container{
		flex: 1;
		padding: 30px;
	}

	.Num{
		font-size: 18px;
		font-weight: 700;
		font-family: vardana;
		color: #005C78;
		line-height: 30px;
		

	}
	.un-ordered{
		font-size: 15px;
		font-weight: 200;
		font-family: vardana;
		color: #005C78;
	}
	.slack-container{
		flex:1;
		
	}
	#slack-name-container{
		font-family: vardana;
		font-size: 25px;
		font-weight: 600;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	#time-container{
		font-family: vardana;
		font-size: 20px;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	#day-container{
		font-family: vardana;
		font-size: 20px;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;	
	}
	#email-container{
		font-family: vardana;
		font-size: 20px;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;	
	}
	.links{
		width: 100%;
		height:20vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
		
	
	}
	.links a{
		text-decoration: none;
		font-family: vardana;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		color:#ffffff;
		padding: 15px 25px;
		background-color:#005C78;
		border-radius: 20px;
		

	}

	#profile-pic-container {
		margin-top: 160px;
		width: 100%;
	
		
	}

	 #profile-pic{
		max-width: 100%;
		max-height: 100vh;
		border-radius: 50%;
	} 
}

/* For ipad and tablet devices */
@media (min-width: 481px) and (max-width: 947px){
	.Container{
		width:100%;
		background-color: #FFF5E1;
		display: block;
	}
	h1{
		font-family: vardana;
		font-size: 30px;
		color: #0C1844;
		text-align: center;
		padding: 15px;
		margin-top: 0px;
		background-color: #C80036;
	}
	
	hr{
	border-width: 2px;
	border-color: #0C1844;
	}
	h2{
		font-family: courier;
		font-size: 30px;
		text-align: center;
		color: darkred;
	}
	p{
		width:430px;
		text-align: center;
		font-weight: 400;
		font-family: vardana;
		font-size: 17px;
		line-height: 30px;
		color: #005C78;
		margin: auto;
		margin-bottom: 30px;
	}
	.Goals-Container{
		flex: 1;
		padding: 30px;
	}

	.Num{
		font-size: 16px;
		font-weight: 700;
		font-family: vardana;
		color: #005C78;
		line-height: 30px;
		

	}
	.un-ordered{
		font-size: 14px;
		font-weight: 200;
		font-family: vardana;
		color: #005C78;
	}
	.slack-container{
		flex:1;
		
	}
	#slack-name-container{
		font-family: vardana;
		font-size: 25px;
		font-weight: 600;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	#time-container{
		font-family: vardana;
		font-size: 20px;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	#day-container{
		font-family: vardana;
		font-size: 20px;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;	
	}
	#email-container{
		font-family: vardana;
		font-size: 20px;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;	
	}
	.links{
		width: 100%;
		height:20vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
		
	
	}
	.links a{
		text-decoration: none;
		font-family: vardana;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		color:#ffffff;
		padding: 15px 25px;
		background-color:#005C78;
		border-radius: 20px;
		

	}

	#profile-pic-container {
		margin-top: 80px;
		width: 100%;	
	}

	 #profile-pic{
		max-width: 100%;
		max-height: 100vh;
		
	} 
}
/*Mobile devices*/
@media (min-width: 320px) and (max-width: 480px) {
	.Container{
		width:100%;
		background-color: #FFFED3;
	}
	h1{
		font-family: vardana;
		font-size:20px;
		color: #0C1844;
		text-align: center;
		padding: 15px;
		margin-top: 0px;
		background-color: darkred;
	}
	
	hr{
	border-width: 2px;
	border-color: #0C1844;
	}
	h2{
		font-family: courier;
		font-size: 30px;
		text-align: center;
		color: darkred;
	}
	p{
		width:280px;
		text-align: center;
		font-weight: 400;
		font-family: vardana;
		font-size: 15px;
		line-height: 30px;
		color: #005C78;
		margin: auto;
		margin-bottom: 30px;
	}
	.Goals-Container{
		flex: 1;
		padding: 30px;
	}

	.Num{
		font-size: 16px;
		font-weight: 700;
		font-family: vardana;
		color: darkred;
		line-height: 30px;
		

	}
	.un-ordered{
		font-size: 14px;
		font-weight: 200;
		font-family: vardana;
		color: #005C78;
	}
	.slack-container{
		flex:1;
		
	}
	#slack-name-container{
		font-family: vardana;
		font-size: 25px;
		font-weight: 600;
		text-align: center;
		color:darkred;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	#time-container{
		font-family: vardana;
		font-size: 20px;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	#day-container{
		font-family: vardana;
		font-size: 20px;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;	
	}
	#email-container{
		font-family: vardana;
		font-size: 20px;
		text-align: center;
		color:#005C78;
		margin-top: 20px;
		margin-bottom: 30px;	
	}
	.links{
		width: 100%;
		height:20vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
		
	
	}
	.links a{
		text-decoration: none;
		font-family: vardana;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		color:#ffffff;
		padding: 15px 25px;
		background-color:darkred;
		border-radius: 20px;
		

	}

	#profile-pic-container {
		margin-top: 100px;
		width: 100%;	
	}

	 #profile-pic{
		max-width: 100%;
		max-height: 100vh;
		
	} 
}
